appdirs==1.4.0
appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
bleach==1.5.0
click==6.7
config==0.4.0
decorator==4.0.11
Django==1.10.5
entrypoints==0.2.2
first==2.0.1
Flask==0.12.3
gunicorn==19.5.0
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.1.0
jupyter-core==4.4.0
MarkupSafe==0.23
mistune==0.7.3
more-itertools==4.3.0
nbconvert==5.1.1
nbformat==4.2.0
notebook==5.4.1
packaging==16.8
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
pip-tools==1.8.0
pluggy==0.7.1
prompt-toolkit==1.0.13
ptyprocess==0.5.1
py==1.6.0
Pygments==2.2.0
pyparsing==2.1.10
pytest==3.8.2
python-dateutil==2.7.3
python-geoip==1.2
python-geoip-geolite2==2015.303
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.13.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
slacker==0.9.40
terminado==0.8.1
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
waitress==1.0.2
wcwidth==0.1.7
Werkzeug==0.11.15
widgetsnbextension==1.2.6
