<html>
  <head>
    <title>Oops!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/error.css') }}">
  </head>
  <body>

    <div class="error-card">
        Whoops! Something went wrong. <br> Feel free to create an issue! ❤️
        <br>
        <a href="/">
            <button type="button" class="btn btn-dark retry">Retry</button>
        </a>
    </div>

    <footer>Made by: Monica Powell | <a href="https://github.com/M0nica/flask_weather">View on GitHub</a> </footer>


  </body>
</html>