<html>
  <head>
    <title>Local Weather For {{ location.city }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/weather-icons-wind.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/weather-icons-wind.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/weather.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/weather-icons.min.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

  </head>
  <body>
      <h1>{{ location.city }}, {{ location.state }}</h1>
        <h2>Today's Weather Forecast </h2>

<span class="weather-icon">
 {% if weather_icon == "clear-day" %}
   <i class="wi wi-day-sunny"></i>
{% elif weather_icon == "clear-night"%}
   <i class="wi wi-night-clear"></i>
{% elif weather_icon == "rain"%}
    <i class="wi wi-rain"></i>
{% elif weather_icon == "snow"%}
    <i class="wi wi-snow"></i>
{% elif weather_icon == "sleet"%}
    <i class="wi wi-sleet"></i>
{% elif weather_icon == "wind"%}
    <i class="wi wi-wind"></i>
{% elif weather_icon == "fog"%}
    <i class="wi wi-fog"></i>
{% elif weather_icon == "cloudy"%}
    <i class="wi wi-cloudy"></i>
{% elif weather_icon == "partly-cloudy-day"%}
    <i class="wi wi-forecast-io-partly-cloudy-day"></i>
{% elif weather_icon == "partly-cloudy-day"%}
    <i class="wi wi-forecast-io-partly-cloudy-day"></i>
{% else %}
    <i class="wi wi-day-sunny"></i>

 {% endif %}

 {{ weather_info.temperature }}&deg;
</span>
<p>

Right now it is {{ weather_info.temperature }}&deg; and {{ weather_info.rain}}
<!-- wi-forecast-io-hail: hail
wi-forecast-io-thunderstorm: thunderstorm
wi-forecast-io-tornado: tornado -->

    </p>

    <footer>Made by: Monica Powell | <a href="https://github.com/M0nica/flask_weather">View on GitHub</a> </footer>


  </body>
</html>
